body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Fonts Imports */
@font-face {
  font-family: 'OpenSansRegular';
  src: local('OpenSansRegular'), 
       url(../assets/fonts/open-sans-regular.ttf)
       format('truetype');
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: local('OpenSansSemiBold'),
       url(../assets/fonts/open-sans-semi-bold.ttf)
       format('truetype');
}

@font-face {
  font-family: 'OpenSansBold';
  src: local('OpenSansBold'),
       url(../assets/fonts/open-sans-bold.ttf)
       format('truetype');
}